@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h4>Random cat fact:</h4>
<h5>@Model.CatFact</h5>

<form method="get">
<div class="form-group">
    <button type="submit" class="btn btn-primary">Next fact</button>
</div>
</form>